<div id="page-wrapper">
  <ul class="breadcrumb">
    <li><a href="#">My tournaments</a></li>
    <li><a href="#">HMČR Brno 2017</a></li>
    <li class="active">Edit teams</li>
  </ul>
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal">
        <fieldset>
          <legend>Edit teams</legend>
          <div class="form-group">
            <label class="col-lg-2 control-label">1 seed</label>
            <div class="col-lg-4">
              <!-- TODO: potreba stahnout id divize turnaje, abych vedel, jake tymy mam hledat -->
              <select class="form-control" id="select">
                <option ng-repeat="team in teams | filter:{ division_id: 1 }">{{team.name}}</option>
              </select>
            </div>
            <div class="col-lg-6">
              <input type="text" min="1" class="form-control" placeholder="team's shortcut for this tournament (3 characters)">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">2 seed</label>
            <div class="col-lg-4">
              <!-- TODO: potreba stahnout id divize turnaje, abych vedel, jake tymy mam hledat -->
              <select class="form-control" id="select">
                <option ng-repeat="team in teams | filter:{ division_id: 1 }">{{team.name}}</option>
              </select>
            </div>
            <div class="col-lg-6">
              <input type="text" min="1" class="form-control" placeholder="team's shortcut for this tournament (3 characters)">
            </div>
          </div>
          <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>