<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="home"><i class="glyphicon glyphicon-send fa-fw"></i> Catcher Alpha</a>
  </div>
  <!-- /.navbar-header -->
  <div ng-controller="navigationCtrl as $ctrl">
    <ul class="nav navbar-top-links navbar-right">
      <li><a ng-hide="logged()" href="" ng-click="$ctrl.register()">Register</a></li>
      <li><a ng-hide="logged()" href="" ng-click="$ctrl.login()">Sign in</a></li>
      <li><a href="help">Help</a></li>
      <li ng-show="logged()" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-user fa-fw"></i> <b>{{getLogin()}}</b> ({{getRole()}}) <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="settings"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
            <li><a ng-click="logout()" href=""><i class="glyphicon glyphicon-log-out"></i> Sign out</a></li>
          </ul>
        </li>
    </ul>
  </div>
  <!-- /.navbar-top-links -->
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <!-- <li class="sidebar-search">
          <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">
            <i class="fa fa-search"></i>
            </button>
            </span>
          </div>
        </li> -->
        <li>
          <a href="home"><i class="glyphicon glyphicon-home fa-fw"></i> Home</a>
        </li>
        <li>
          <a href="tournaments" ng-show="logged()"><i class="fa fa-sitemap fa-fw"></i> My tournaments</a>
        </li>
        <!-- <li>
          <a href="statistics"><i class="glyphicon glyphicon-stats fa-fw"></i> Statistiky</a>
        </li> -->
        <li>
          <a href="history"><i class="glyphicon glyphicon-book fa-fw"></i> History</a>
        </li>
        <!-- <li>
          <a href="about"><i class="glyphicon glyphicon-info-sign fa-fw"></i> About</a>
        </li> -->
        <li>
          <a href="admin" ng-show="getRole()=='admin'"><i class="glyphicon glyphicon-pencil fa-fw"></i> Admin</a>
        </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
<script type="text/ng-template" id="loginModal.html">
  <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Login</h3>
  </div>
  <div class="modal-body" id="modal-body">
  {{$ctrl.info}}
  <div class="form-group">
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input placeholder="login" class="form-control" ng-model="login">
  </div>
  </div>
  
  <div class="form-group">
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input type="password" placeholder="password" class="form-control" ng-model="password">
  </div>
  <div class="pull-right">
      <small><del><a href="">Forgot your password?</a></del></small>
        </div>
  </div>
  </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="$ctrl.cancel()">Cancel</button>
      <button class="btn btn-primary" ng-click="$ctrl.ok(login, password)">Sign in</button>
  </div>
</script>

<script type="text/ng-template" id="registerModal.html">
  <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Register</h3>
  </div>
  <div class="modal-body" id="modal-body">
  
  <p>Registration is so easy...</p>
  <p>One login should be shared between your teammates...</p>
  <p>If you want you can add more emails later for you account for reset password for example...</p>
  <p>For now you can't add new team and manage it...</p>
  <p>Initial password will be send in your email. Change this password immediately.</p>
  <hr>
  <div class="form-group">
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input placeholder="login (at least 6 characters)" class="form-control" ng-model=login>
  </div>
  </div>
  
  <div class="form-group">
  <div class="input-group">
    <span class="input-group-addon">@</span>
    <input type="email" placeholder="email" class="form-control" ng-model=email>
  </div>
  </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="$ctrl.cancel()">Cancel</button>
      <button class="btn btn-primary" ng-click="$ctrl.ok(login, email)">Register</button>
  </div>
</script>
